<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        .anybutton{
        top:11%;
        left:55%;
        width:100px;
        height:40px;
        position: absolute;
        z-index: 2;
        background: orange;
        }
    </style>
</head>
<body>
<article>
  <header>
    <h1>Hromadná doprava: zadávání, vyhledávání spojů a rezervaci jízdenek</h1>
  </header>
</article>
<form action="/registration" method="POST">
    <label for="fname">Meno:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Priezvisko:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="nickname">Prihlasovacie meno:</label><br>
    <input type="text" id="nickname" name="nickname"><br><br>
    <label for="password">Heslo:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <label for="passwordConfirm">Potvrďte heslo:</label><br>
    <input type="text" id="passwordConfirm" name="passwordConfirm"><br><br>

    <button><a>Zaregistrovať</a></button><br><br>
    <p>Už máte účet?</p>
    <button><a href='/preSignIn'>Prihlásiť sa</a></button>
</form>
<a href='/'><img src="/static/bus_logo.jpg" alt="bus" width="250" height="250"></a>

</body>