<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<article>
  <header>
    <h1>Hromadná doprava: zadávání, vyhledávání spojů a rezervaci jízdenek</h1>
  </header>
</article>
<form action="/signIn" method="POST">
    <label for="nickname">Prihlasovacie meno:</label><br>
    <input type="text" id="nickname" name="nickname"><br><br>
    <label for="password">Heslo:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <button><a>Prihlásiť</a></button><br>
</form>
<a href='/'><img src="/static/bus_logo.jpg" alt="bus" width="250" height="250"></a>

</body>